
<mat-toolbar>
  <button mat-button color="primary" style="margin-right: 10px" routerLink="home">Home</button>
  <button mat-button color="primary" style="margin-right: 10px" routerLink="flow">Uploadimage</button>
  <button mat-button color="primary" style="margin-right: 10px" routerLink="createflow">+</button>
  <button mat-button color="primary" style="margin-right: 10px" routerLink="logg">LogActivity</button>
  <button mat-button color="primary" style="margin-right: 10px" routerLink="loggTemp">LogTemperature</button>
  <!-- <button mat-button color="accent" style="margin-right: 10px" routerLink="control">Deploy</button> -->
</mat-toolbar>

<router-outlet></router-outlet>
